#navbar-container {
  background-image: linear-gradient(90deg,var(--color-secondary)4%,color-mix(in oklch,var(--color-secondary),var(--color-error))22%,var(--color-primary)45%,color-mix(in oklch,var(--color-primary),var(--color-accent))67%,var(--color-accent)100.2%);
}
